@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

@{
    ViewBag.Title = "Artist List";
}
@*
    * Authors:  Ritesh Patel
    * Srudent ID : 200307232
    * Date : Aug 18 2016
    * Name: Artists List view
    * Description: This view provides list of artists.
*@
<h2>Artist List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
